{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "airbnb"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "react/jsx-filename-extension": [
      2,
      { "extensions": [".js", ".jsx", ".tsx"] }
    ],
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "react/jsx-props-no-spreading": 0,
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "function-paren-newline": "off",
    "react/prop-types": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "react/jsx-one-expression-per-line": "off",
    "no-confusing-arrow": "off",
    "react/jsx-curly-newline": "off",
    "operator-linebreak": "off",
    "react/jsx-wrap-multilines": "off",
    "linebreak-style": "off",
    "camelcase": 0
  }
}

// {
//     "extends":["react-app", "prettier"],
//     "rules":{
//         "pretteir/pretteir": "error"
//     },
//     "plugins":["pretteir"]
// }